- if @product.image.url.present?
  = image_tag @product.image.url
- else
  = image_tag "no-image.png"

%p
  = @product.name
%p
  = @product.description
%p
  = @product.price

.btn.btn-large
  買い物カゴに入れる